<p id="notice"><%= notice %></p>

<h1><%= @state.name %></h1>
<ul>
  <%- @state.rides.each do |ride| %>
    <li>
      <%= link_to ride.name, ride %>
    </li>
  <%- end %>
</ul>

<h3> Other rides</h3>
<ul>
  <%- @rides.each do |ride| %>
    <li>
      <%= link_to ride.name, ride_path(ride.id) %> - <%= ride.date_range.strftime("%B %d %Y") %>
    </li>
  <%- end %>
</ul>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
