<p id="notice"><%= notice %></p>

<p>
  <b>Name of Event:</b>
  <%= @ride.name %>
</p>

<p>
  <b>Total distance of Event:</b>
  <%= @ride.total_distance %>
</p>

<p>
  <b>Difficulty rating:</b>
  <%= @ride.difficulty_rating %>
</p>

<p>
  <b>Date range of Event:</b>
  <%= @ride.date_range %>
</p>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>


<div class="field">
    <%= f.label :ride %><br />
    <%= f.text_field :ride %>
</div>