<p id="notice"><%= notice %></p>

<h1><%= @ride.name %></h1>

<p>
  <b>Total distance:</b>
  <%= @ride.total_distance %>
</p>

<p>
  <b>Difficulty rating:</b>
  <%= @ride.difficulty_rating %>
</p>

<p>
  <b>Date range:</b>
  <%= @ride.date_range.strftime("%B %d %Y") %>
</p>

<h2>States</h2>
<ul>
  <%- @ride.states.each do |state| %>
    <li><%= link_to state.name, state_path(state) %></li>
  <%- end %>
</ul>

<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Destroy', @ride, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', rides_path %>
