<div class="row-fluid">
  <div class="span12">
 <footer class="footer"> 
  <hr>
    <p><%= link_to "Home",    '#' %> |  <%= link_to "Home",    '#' %><p>
  
  
      <div class="nav-collapse collapse">
    <ul class="nav">
       <li><%= link_to "Home",    '#' %></li>
        <li><%= link_to "Help",    '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>

    </ul>
  </nav>
</div>
 </footer>
<div>
  <div>
