<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

   <%= render 'layouts/viewport' %>
   <%= render 'layouts/shim' %>

</head>
<body>
      <%= render 'layouts/header' %>

<div class="container"><!--container begins -->
  
<%= yield %>
     <%= render 'layouts/footer' %>
       <%= javascript_include_tag "application" %>
 </div><!--container ends -->
</body>
</html>


